body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#container {
    align-self: center;
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    border: solid black 2px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.test {

}