body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    align-self: center;
    width: 800px;
    height: 800px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#cor {
    margin: .4rem;
}

.test {
    flex: 1 0 auto;
    border: dashed 0.5px gray;
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.painted {
    background-color: black;
}