body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

#container {
    align-self: center;
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

.test {
    flex: 1 0 auto;
    background-color: lightpink;
    border: dashed 1px blueviolet;
    width: 200px;
    aspect-ratio: 1 / 1;
}

/* on java, you'll need to divide the width (800) by the number of tiles on a side to get the ".test" maximum width distance. Then, you'll need to update the value. */